{% extends 'app/base.html' %}
{% block title %}About{% endblock %}
{% block content %}
<div class="jumbotron">
    <legend><h1>Registration Form</h1></legend>
    <form action="{% url 'home.html' %}" method="post" class="needs-validation">
    {% csrf_token %}
      <div class="form-group">
        <label for="name">Enter Name</label>
        <input type="text" class="form-control" name="name" id="name" required>
      </div>
      
      <div class="form-group">
        <label for="email">Enter Email</label>
        <input type="text" class="form-control" name="email" id="email" required>
      </div>
      <input type="submit" class="btn btn-success" value="SUBMIT">
    </form>
</div>
{% endblock %}
